@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes disappear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.app {
  width: 100vw;
  height: auto;
}

a {
  text-decoration: none;
  color: black;
  overflow: hidden;
  line-height: 3rem;
}

.prevent-select {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

nav {
  width: 100%;
  height: 10%;
  min-height: 40px;
  padding: 0% 7%;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  overflow: visible;
}
nav .logo {
  cursor: pointer;
}
nav .search-container {
  position: relative;
  width: 39%;
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}
nav .search-bar {
  width: 100%;
  min-height: 100%;
  display: flex;
  border: solid white 2px;
  border-radius: 0.5em;
  position: relative;
}
nav .search-bar input {
  width: 100%;
  border: none;
  height: 100%;
  background-color: transparent;
  color: white;
  padding: 10px;
}
nav .search-bar input::-moz-placeholder {
  color: white;
  opacity: 0.7;
}
nav .search-bar input::placeholder {
  color: white;
  opacity: 0.7;
}
nav .search-bar img {
  position: absolute;
  right: 0.5%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
nav .to-right {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  color: white;
  width: 12%;
}
nav .to-right h4 {
  flex-shrink: 0;
}

.sugggested-word-container {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: visible;
}

.suggested-word {
  padding: 5px;
  width: 100%;
  z-index: 1999;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.suggested-word:hover {
  background-color: rgb(199, 199, 199);
}

.featured {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: black;
  color: white;
  overflow: hidden;
  display: flex;
}
.featured aside {
  position: absolute;
  z-index: index 200;
  top: 50%;
  transform: translateY(-50%);
  right: 1%;
  width: 100px;
}
.featured aside .indicator {
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: pointer;
  margin-bottom: 15%;
}
.featured aside .indicator h3 {
  margin-right: 17px;
  opacity: 0.5;
}
.featured aside .indicator span {
  width: 0px;
  transition: 500ms ease-out;
  height: 2px;
  background-color: white;
}
.featured aside .indicator.active h3 {
  margin-right: 7px;
  opacity: 1;
}
.featured aside .indicator.active span {
  width: 50px;
  height: 2px;
  background-color: white;
}
.featured aside div:last-child {
  margin-bottom: 0%;
}
.featured .featured-movie {
  flex: none;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.featured .featured-movie.current {
  animation: appear 500ms forwards;
}
.featured .featured-movie img {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  filter: brightness(30%);
}
.featured .featured-movie div {
  width: 50%;
  height: auto;
  z-index: 10;
  position: absolute;
  left: 0%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0% 7%;
  display: flex;
  flex-direction: column;
}
.featured .featured-movie div h1 {
  line-height: 3rem;
}
.featured .featured-movie div h4 {
  font-weight: 400;
  line-height: 2.5rem;
}
.featured .featured-movie div h5 {
  margin-top: 2%;
  font-weight: 100;
  line-height: 1.8rem;
}
.featured .featured-movie div span {
  position: relative;
  width: 20%;
  height: 7%;
  margin-top: 2%;
  padding: 0%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  overflow: hidden;
}
.featured .featured-movie div span img {
  position: relative;
  width: 30px;
  height: 20px;
  margin-right: 7%;
  filter: brightness(100%);
}
.featured .featured-movie div button {
  text-decoration: none;
  background-color: #be123c;
  color: white;
  margin-top: 4%;
  padding: 1% 5%;
  font-family: inherit;
  width: -moz-fit-content;
  width: fit-content;
  text-transform: uppercase;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.featured .featured-movie div button h3 {
  margin-left: 5%;
  flex-shrink: 0;
}
.featured .featured-movie div button:hover {
  background-color: #5a091d;
}

.movie-list-header {
  width: 100%;
  margin: 5% 0% 1% 0%;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.movie-list-header h2 {
  margin-top: 2%;
  margin-bottom: 0;
}
.movie-list-header h3 {
  margin-top: 2%;
}
.movie-list-header .for-genres {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}
.movie-list-header .for-genres span {
  margin: 5px 10px 0 0;
  cursor: pointer;
  padding: 2px;
}
.movie-list-header .for-genres span:hover {
  color: red;
}
.movie-list-header .for-genres span.selected {
  text-transform: uppercase;
  font-weight: 900;
}
.movie-list-header h4 {
  color: #be123c;
  text-decoration: underline;
}

.movie-list {
  width: 100%;
  height: auto;
  padding: 2% 7%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.movie-list .movie-card {
  width: 20%;
  margin: 2%;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
}
.movie-list .movie-card div {
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.movie-list .movie-card div > * {
  margin-bottom: 1%;
}
.movie-list .movie-card div div {
  width: 100%;
  margin-top: 5%;
  display: flex;
  align-items: center;
}
.movie-list .movie-card div div img {
  width: 30px;
  margin-right: 5%;
}
.movie-list .movie-card div div:last-child {
  width: 100%;
  flex-wrap: wrap;
}
.movie-list .movie-card div div:last-child h6 {
  margin-right: 2%;
  position: relative;
}
.movie-list .movie-card img {
  width: 100%;
  cursor: pointer;
}
.movie-list .movie-card h3 {
  line-height: 1.5rem;
  overflow: hidden;
  cursor: pointer;
}
.movie-list .movie-card h3:hover {
  color: #be123c;
}
.movie-list .movie-card .for-clicks {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.267);
  border: none;
  width: 30px;
  height: 30px;
  padding-top: 2%;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-list .movie-card .for-clicks .for-fav {
  fill: rgba(255, 255, 255, 0.26);
}
.movie-list .movie-card .favorite {
  position: absolute;
  top: 2%;
  right: 2%;
  z-index: 200;
  background-color: rgba(0, 0, 0, 0.438);
  border: none;
  width: 30px;
  height: 30px;
  padding-top: 2%;
  cursor: pointer;
  border-radius: 50%;
  transition: 100ms ease-in;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movie-list .movie-card .favorite .for-fav {
  fill: rgba(206, 0, 0, 0.877);
  transition: 100ms ease-in;
}
.movie-list .movie-card:hover {
  transform: scale(1.05);
  transition: 300ms ease-in-out;
}

.see-more {
  color: #be123c;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 100;
}
.footer div {
  width: 50%;
  height: 20%;
  display: flex;
  justify-content: center;
  margin-top: 4%;
  transform: scale(1.25);
}
.footer div a, .footer div h5 {
  margin-left: 3%;
  margin-right: 3%;
}
.footer .the-end {
  margin-bottom: 5%;
  color: rgba(32, 32, 32, 0.993);
}

.unclickable {
  pointer-events: none;
  opacity: 0.5;
}

@media only screen and (max-width: 880px) {
  nav .to-right {
    width: 20%;
    justify-content: right;
  }
  nav .search-container {
    height: 40%;
  }
  nav .search-container input::-moz-placeholder {
    color: white;
    opacity: 0.5;
    font-size: 0.7rem;
  }
  nav .search-container input::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 0.7rem;
  }
  .featured {
    height: 100vh;
  }
  .featured .featured-movie div {
    width: 80%;
  }
  .movie-list .movie-card {
    width: 40%;
  }
  .footer div {
    width: 80%;
  }
}
@media only screen and (max-width: 960px) and (max-height: 500px) and (orientation: landscape) {
  nav {
    height: 20vh;
  }
  nav .logo {
    -webkit-clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
            clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
  }
  nav .to-right {
    width: 20%;
    justify-content: right;
  }
  nav .search-container {
    height: 60%;
    width: 60%;
    margin-left: -15%;
  }
  nav .search-container input::-moz-placeholder {
    color: white;
    opacity: 0.5;
    font-size: 0.7rem;
  }
  nav .search-container input::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 0.7rem;
  }
  .featured {
    height: 200vh;
  }
  .featured .featured-movie div {
    width: 80%;
  }
  .movie-list .movie-card {
    width: 40%;
  }
  .footer div {
    width: 80%;
  }
}
@media only screen and (max-width: 600px) {
  nav {
    padding: 0 2%;
  }
  nav .logo {
    -webkit-clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
            clip-path: polygon(0 0, 30% 0, 30% 100%, 0% 100%);
  }
  nav .to-right {
    width: 19%;
    justify-content: space-between;
    font-size: 0.7rem;
  }
  nav .search-container {
    height: 50%;
    width: 60%;
    margin-left: -30%;
  }
  nav .search-container input::-moz-placeholder {
    color: white;
    opacity: 0.5;
    font-size: 0.7rem;
  }
  nav .search-container input::placeholder {
    color: white;
    opacity: 0.5;
    font-size: 0.7rem;
  }
  .featured {
    height: 100vh;
  }
  .featured .featured-movie div {
    width: 85%;
  }
  .movie-list .movie-card {
    width: 100%;
    margin-top: 7%;
  }
}
.display-hidden {
  width: 0%;
  height: 0%;
  display: none;
  transition: 1s ease;
}

.inverted {
  width: 39%;
  height: 60%;
  display: flex;
  border: solid black 2px;
  border-radius: 0.5em;
  position: relative;
}
.inverted input {
  width: 100%;
  border: none;
  height: 100%;
  background-color: transparent;
  color: black;
  padding: 10px;
}
.inverted input::-moz-placeholder {
  color: black;
  opacity: 0.7;
}
.inverted input::placeholder {
  color: black;
  opacity: 0.7;
}/*# sourceMappingURL=App.css.map */